.dropbtn {
    background-color: #05C68C;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-image: url(f:/Senai/carrinho.png);
    background-position: center;
    background-size: 30px;
    padding: 30px;
}

.dropdown {
    z-index:1;
    color:#f1f1f1;
    position: fixed;
}

.dropdown-content {
    overflow: auto;
    display: none;
    background-color: #05C68C;
    max-height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    width: 300px;
    margin-bottom: 0;
}

.cartinho{
    position: fixed;
    top: 25%;
    right: 98%;
    transform: translate(-90%, -80%);
    z-index: 1;
}

.icone {
    display: flex;
    justify-items: center;

}

body {
    background: linear-gradient(290deg, #05C68C 0%, #474F7E 100%);
    background-repeat: no-repeat;
}

h1 {
    color: aliceblue;
    text-align: center;
    width: 100%;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbarbtns {
    transition: 0.7s;
    border-radius: 40px;
    opacity: 0.6;
}

.navbarbtns:hover {
    border: 1px solid #f2f2f2;
    opacity: 1;
    transition: 0.7s;
    border-radius: 40px;
}

.skins {
    font-size: 3rem;
    color: #05E75F;
}


.pesquisar {
    border-radius: 30px;
    height: 30px;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
    background-color: #D0D0D0;
    text-align: center;
}

.btnbranco {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(225, 223, 223, 0) 100%);
    border-radius: 8px;
    border: none;
    height: 30px;
    color: #FFFFFF;
    width: 100px;
    text-align: center;
}

.btnbranco:hover {
    background-color: #474F7E;
    transition: 1s;
}

.intro-area {
    display: flex;
    flex-direction: row;
}

.intro {
    border-radius: 30px;
    border: solid 1px #FFFFFF;
    max-width: 50%;
    padding-bottom: 2rem;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.Textomaior {
    color: #f2f2f2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 40%;
}

.textinho {
    margin-bottom: 50px;
    margin-top: 50px;
}

.lorem {
    margin-top: 0.5rem;
    margin-bottom: 80px;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.compra {
    transition: 0.7s;
    background: #4B4B4D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    color: #f2f2f2;
    padding: 10px;
}

.compra:hover {
    transition: 0.7s;
    background-color: #474F7E;
}

.seta {
    width: 10px;
}

div.container {
    width: 90%;
    margin: auto;
}

.destaques {
    color: #f2f2f2;
    font-size: 2rem;
}

.shortinhos {
    border-radius: 90px;
    border: solid 1px #FFFFFF;
    overflow-x: hidden;
    height: 151px;
    margin-left: 50px;
    margin-right: 50px;
}

div.scrollmenu {
    background: rgba(71, 79, 126, 0.03);
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 80px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.ImgMenors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 50px;
}

.ImgMenor {
    width: 199px;
    border-radius: 60px;
}

.ImgMaior {
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    margin-top: 40px;
    margin-left: 40px;
}

.produtos {
    border-radius: 30px;
    border: solid 1px #FFFFFF;
}

.Imgs {
    margin-right: 50px;
    margin-left: 93px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.header {
    color: #f2f2f2;
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 50px;
}

.header2 {
    color: #f2f2f2;
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.firstline {
    margin-bottom: 100px;
}

.secondline {
    margin-bottom: 100px;
}

.products {
    width: 300px;
}

.produteros{
    width: 225px;
}

.comprar {
    background-color: #48A81B;
    color: #fff;
    font-size: 16px;
    opacity: 0.6;
    border: none;
    width: 300px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: 1s;
    z-index: -1;
}

.comprar:hover {
    transition: 1s;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 1;
    font-size: 15px;
    background-image: url(F:/Senai/carrinho.png);
    background-position: center;
    background-size: 30px;
    color: #48A81B;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.ola {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

button {
    justify-content: center;
    background-repeat: no-repeat;
}

.produtoz{
    color:#f1f1f1;
    display: flex;
}

@media only screen and (max-width:360px) {
    .ImgMenors {
        margin-left: 0;
        display: flex;
        flex-direction: row;
    }

    .ImgMaior {
        margin-left: 0;
        width: 150px;
    }

    .ImgMenor {
        margin-left: 0;
        width: 150px;
    }

    .Imgs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .intro-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: column;
    }

    .header-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .produtos {
        display: flex;
        flex-direction: column;
    }

    .Imgs {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .intro-area {
        display: flex;
        flex-direction: column;
    }

    .textinho {
        display: none;
    }

    .comprar:hover {
        transition: 1s;
        padding-top: 30px;
        padding-bottom: 30px;
        opacity: 1;
        font-size: 15px;
        background-image: url(f:/Senai/carrinho.png);
        background-position: center;
        background-size: 30px;
        color: #48A81B;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .secondline {
        display: none;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .tenis {
        margin-left: 10px;
    }

    .Textomaior{
        margin-bottom: 20px;
    }
}